/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
    margin:0;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
}

.custom-logo-link {
    img {
        max-height: 65px;
        width: auto;
    }
}

.body-container {
    margin-top: 55px;

    p a,
    ul li a {
        color:#0f1d43;
        text-decoration: underline;

        &:hover {
            color:#0f1d43;
            text-decoration: none;
        }
    }

    @include respond(tab-land) {
		margin-top:76px;
	}

    .main-content {
        h2 {
            &:first-of-type {
                margin-top: 0 !important;
            }
        }

        h2,
        h3,
        h4 {
            a {
                font-family: inherit;
                font-size: inherit;
                color:inherit;
                text-decoration: underline;
            }
        }

        a {
            h2 {
                text-decoration: none;
            }

            &:hover {
                h2 {
                    text-decoration:underline;
                }
            }
        }

        .btn {
            margin-top: 20px;
        }

        .column-66 {
            img {
                max-width: 50%;

                @include respond(tab-port) {
                    max-width: 100%;
                }
            }
        }

        .column-33 {
            @include respond(tab-port) {
                margin-top: 60px;
            }
        }
    }
}

.container {
    max-width:$container-max-width;
    padding: 0 60px;
	z-index: 1;
	position: relative;

	@include respond(desktop-full) {
		padding:0 50px !important;
	}

    @include respond(phone) {
        padding: 0 30px !important;
    }

	&.wide {
		max-width: 100%;
		margin:0 50px;

		@include respond(desktop-full) {
			padding:100px 50px !important;
		}

		@include respond(phone) {
			padding: 60px 30px !important;
			margin:0 30px;
		}
	}

    &.full {
        max-width:100%;
        padding:0 !important;
        margin:0 !important;

        .columns {
            align-items: normal;
            
            .column-50 {
                width: 50%;
                padding:10% 8%;
                box-sizing: border-box;
            }
        }
    }
}

section {
    padding: 80px 0;

    @include respond(phone) {
        padding: 60px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;

	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
	}

	.column-break { width:100%; height:1px; }
	.column-20 { width:19.5%; }
    .column-25 { width:23%; }
    .column-50 { width:45%; }
    .column-33 { width:30%; }  
    .column-66 { width:63%; }
    .column-75 { width:66%; }
    .column-full { width:100%; justify-content: space-between; }

    .column-20,
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@include respond(tab-port) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
        &.centered {
			text-align: center;
            justify-content: center;
		}
        &.block {
            display:block;
        }
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;

	@include respond(phone) {
		&.mobile {
			display:none;
		}
	}
}

.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

article {
    border-bottom: 1px solid $blk;
    padding-bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

.pagination {
    padding-top: 0;
    width: 100%;
    justify-content: center;
    display: flex;

    .nav-links {
        display:flex;
        align-items: center;

        a {
            font-size: 20px;
            color:$blk;

            &.prev,
            &.next {
                font-size: 0px;
                position: relative;
                width:30px;
                display:inline-block;
                background:none !important;

                &:hover {
                    &::before {
                        background:$white;
                        color:$blk;
                    }
                }

                &::before {
                    height:30px;
                    width:30px;
                    border-radius: 50px;
                    background:none;
                    position:absolute;
                    content:"";
                    font-family: $icomoon;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    transition: $trans;
                }
            }

            &.prev {
                &::before {
                    content:"\e902";
                }
            }

            &.next {
                &::before {
                    content:"\e902";
                    transform: rotate(180deg);
                }
            }
        }

        .page-numbers {
            height:30px;
            width:30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            font-size: 16px;
            font-weight: normal;
            background:$white;
            color:$blk;
            font-family: 'Montserrat', sans-serif;

            
            &.current {
                background:$ltblue;
                color:$white;
            }
        }
    }
}

.stars {
    &::after {
        position: relative;
        content: "★★★★★";
        margin-bottom: 10px;
        display: inline-block;
        letter-spacing: 5px;
        color: $blk;
        font-size: 14px;
    }
}

// accordion styles //

.body_accordions {
    width:100%;
    position: relative;
    
    &_title {
        display: flex;
        cursor: pointer;
        padding: 20px;
        transition: 0.3s linear;
        text-align: left;
        align-items: center;
        line-height: 100%;
        position: relative;
        background:$dkblue;
        margin: 0 0 10px 0 !important;

        &::after {
            position: absolute;
            top:50%;
            right:20px;
            content:"+";
            transform: translateY(-50%);
            color:$white;
            font-size: 20px;
            transition: $trans;
        }

        p {
            display:none;
        }

        h3 {
            font-size:16px !important;
            font-weight:700;
            font-style:normal !important;
            color:$white !important;
            transition:$trans;
            margin-bottom:0 !important;
            margin-top:0;
			font-family: 'Montserrat', sans-serif;
            max-width: 80%;
            margin:0 !important;
        }
        
        &.active {
            h3 {
                font-weight: bold;
            }

            &::after {
                    transform: rotate(-45deg);
                    top: calc(50% - 9px);
                    right: 21px;
                }

            h3 {
                font-weight: 900 !important;
            }
        }
    }

    &_content {
        display: none;
		padding: 10px 20px;
		text-align: left;
        font-family: $serif;
        width:100%;
        line-height: 170%;
        box-sizing: border-box;

		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$sans;
			font-weight: 700;
		}

        p {
            color:$white;
        }

        ul {
            color:$white;
            margin: 0 0 20px 10px;

            li {
                margin:0;
            }
        }
    }
}

.two-third-col-image {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 1em;
    img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    &.reverse {
        grid-template-columns: 66% 33%;
    }
    @include respond(phone) {
        grid-gap: 0.25em;
    }
}

.responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.video-embed {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.85%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    .responsive-video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}