/**
 * Page Template Styles
 *
 * @package Postali Child
 * @author Postali LLC
*/

.page-template-page-interior {
    .main-content {
        .container {
            .columns {
                align-items: normal;

                .column-66 {
                    h2:first-of-type {
                        display: contents;

                        &::after {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 20px;
                            content: "";
                        }
                    }

                    img.courthouse_photo {
                        width:100%;
                        margin-bottom: 50px;
                        max-width: 100%;

                        @include respond(tab-land) {
                            margin-bottom: -30px;
                        }
                    }

                    ul.accreditations {
                        list-style-type: none;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            max-width: 20%;
                            align-items: center;
                            justify-content: space-between;
                            margin: 2% !important;
                            display: flex;

                            img {
                                max-height: 90px;
                            }
                        }
                    }

                    ul.badges {
                        display: flex;
                        align-items: normal;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: 10px 0 40px 0;

                        li {
                            font-size: 13px;
                            text-align: center;
                            line-height: 150%;
                            display: block;
                            width:31%;

                            @include respond(tab-port) {
                                width:48.5%;
                            }

                            @include respond(phone) {
                                width:100%;
                                margin-bottom: 40px !important;
                            }

                            .img-block {
                                height: 90px;
                                display: flex;
                                width: 100%;
                                align-items: center;
                            }

                            img {
                                max-height: 90px;
                                height: auto;
                                margin-bottom: 10px;
                            }
                        }
                    }
                
                    .courthouse_contact {
                        float: right;
                        max-width: 35%;
                        width: 100%;
                        background: $white;
                        padding: 0 30px 5px;
                        box-sizing: border-box;
                        margin-left: 30px;
                        margin-bottom: 30px;

                        @include respond(tab-land) {
                            float: none;
                            max-width: 100%;
                            width: 100%;
                            padding: 1px 30px 5px;
                            margin-left: 0;
                        }
                
                        span {
                            margin-right: 7px;
                            vertical-align: middle;
                            font-size: 18px;
                        }
                    }
                }

                .related-reading {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    background: $ltblue;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    padding: 0 15px 0 0;
                    margin-bottom: 30px;
                    color:$white;
                    font-size: 16px;
                    font-family: 'Raleway', sans-serif;
                    border-radius: 10px 0 0 10px;

                    @include respond(phone) {
                        height:auto;
                        flex-wrap: wrap;
                        border-radius: 10px;
                        align-items: flex-start;
                        padding: 0;
                    }

                    a {
                        color:inherit;
                        text-decoration: underline;
                        padding: 0 15px;
                        font-family: inherit;
                        padding: 15px;
                    }

                    strong {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                        color:$white;
                        background-color: $dkblue;
                        height:100%;
                        padding:0 15px;
                        border-radius: 10px 0 0 10px;

                        @include respond(phone) {
                            border-radius:  10px 10px 0 0;
                            align-items: flex-start;
                            padding: 15px;
                            width: 100%;
                            margin: 0;
                        }

                        img {
                            height: 20px;
                            margin-right: 10px;

                            @include respond(phone) {
                                margin-left: 0;
                            }
                        }
                    }
                }

                table {
                    tr {                        
                        &:nth-child(2n+1) td {
                            background: $white;
                        }

                        td {
                            padding: 30px 30px 0;
                            font-family: "Raleway", sans-serif;
                            color: #293c49;
                            font-size: 16px;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
}

.page-template-page-contact {
    .contact-blocks {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .contact_detail {
            width: 49%;
            display: block;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid lightgray;
            margin-bottom: 16px;
            background: white;

            @include respond(phone) {
                width:100%;
            }

            .courthouse_map iframe {
                height: 220px;
            }

            .details {
                padding: 0 20px 20px;

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

}

.page-template-page-sitemap {
    .main-content {
        .column-66 {
            justify-content: space-between;
        }
    }
    
    ul.sitemap {
        li {
            a {
                font-weight: bold;
            }

            &.page_item_has_children {
                ul.children {
                    margin-bottom: 5px;
                    
                    li {
                        a {
                            font-weight: normal !important;
                        }
                    }
                }
            }
        }
    }
}

.blog,
.post-type-archive-results {
    article {
        margin: 20px 0;
        border-bottom: 1px solid lightgray;
        padding-bottom: 0;
        width: 100%;
        box-sizing: border-box;
        transition:$trans;
        background:none;
        
        &:hover {
            h2 {
                text-decoration: underline;
            }

            .post-image {
                background-size: 145%;
            }
        }

        @include respond(tab-port) {
            width:100%;
            margin:10px 0;
        }

        .post-image {
            height: 200px;
            background-size: 140%;
            background-position: center;
            transition: $trans;

            @include respond(tab-land) {
                background-size: cover;
            }
        }

        .meta-content {
            padding: 0;
            
            .blog-date {
                margin-bottom: 5px !important;
            }
            
            h2 {  
                margin-bottom: 0 !important;
            }
        }
    }
}

.single {
    .article-featured-image {
        img {
            width: 100%;
        }
    }
}

.page-template-page-attorney {
    .attorney-img img {
        border-radius: 50%;
        max-width: 225px;
        
        @include respond(phone) {
            margin:0 auto;
        }
    }
}

.page-template-page-landing {
    .main-content {
        position: relative;
        z-index: 2;
    }
    ul.landing-box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        margin:0;
        
        li {
            width:32.3%;
            margin:.5% !important;
            background:$dkblue;
            padding:40px;
            box-sizing: border-box;
            min-height: 400px;
            position: relative;

            @include respond(tab-land) {
                width:49%;
            }
    
            @include respond(phone) {
                width:100%;
                margin:10px 0 !important;
            }

            &:hover {
                a {
                    text-decoration: underline;
                    color:$white;
                }
            }

            a {
                font-size: 32px;
                font-weight: bold;
                display: block;
                line-height: 100%;
                padding: 0;
                text-decoration: none;
                color:$white;

                @include respond(phone) {
                    font-size: 32px;
                }
            }

            .all-pages {
                position: absolute;
                bottom: 0;
                height: 60px;
                background: $ltgrey;
                left: 0;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                align-items: center;
                justify-content: flex-end;
                display: flex;
                font-size: 15px;
                transition: $trans;

                span::before {
                    position: relative;
                    content: "+";
                    margin-left: 10px;
                    font-size: 24px;
                    font-weight: bolder;
                    transition: $trans;
                    display:block;
                }

                &.active {
                    background:$green !important;

                    span::before {
                        transform:rotate(45deg);
                    }
                }
            }

            ul.children {
                margin: 0;
                list-style-type: none;
                position: absolute;
                background: $green;
                top: 100%;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 40px;
                display:none;
                z-index: 10;
                padding:20px 40px 40px;

                li {
                    margin:0 !important;
                    padding:0 !important;
                    width:100%;
                    min-height: auto;
                    background:none;
                    
                    a {
                        font-size: 16px !important;
                        line-height: 120%;
                        display: inline-block;
                        margin-bottom: 10px !important;
                        padding: 0;
                        font-weight: normal;
                        text-decoration: underline;
                        color:$dkblue;
                    }

                    &::after {
                        display:none;
                    }
                }
            }
        }
    }
}

.search {
    article {
        margin-bottom: 30px;
        
        p {
            margin-bottom: 20px;
        }
    }
}