/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $desktop-lg;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$dkgrey: #2C2C2C;
$grey: #787575;
$white: #FFFFFF;
$dkblue: #0f1d43;
$ltblue: #3B6FC2;
$indigo: #4074C7;
$congressblue: #003B8F;
$green: #80be41;
$ltgrey: #F2F2F2;
$red:#e63946;

$dkblue: #162B5B;
$ltblue: #3B6FC2;

$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
$sans: 'Open Sans', sans-serif;
$serif: 'Playfair Display', serif;
$icomoon: 'Icomoon';
$montserrat: 'Montserrat', sans-serif;

$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
